*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 80px;
    background: transparent;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.Navegação {
    width: 90%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    color: #f4f6fb;
    transition: color 0.3s ease;
}

/* efeito underline */
nav ul li a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
    
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url(fundo-inicio.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 170px;
}


.Intro {
    width: 90%;
    max-width: 1500px;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    border-radius: 12px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.1);
    gap: 40px;
}


.introdução h1 {
    font-size: 55px;
    margin-bottom: 20px;
    margin-left: 70px;
    color: #f4f6fb;
}

.introdução h2 {
    font-size: 25px;
    font-weight: normal;
    color: #f4f6fb;
    line-height: 1.6;
    margin-left: 70px;
}

.introdução span {
    color: #f70e0e;
}


.imagem-principal {
display: flex;
justify-content: center;
align-items: center;
}

.imagem-principal img {
width: 1500px;
max-width: 100%;
animation: float 6s ease-in-out infinite;
will-change: transform;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }

}

/* Tablet */

@media (max-width: 1030px) {
    .imagem-principal img {
        width: 300px;
    }
    .Intro {
        flex-direction: column-reverse;
    }
    .introdução h1 {
        font-size:40px;
        margin-left: 0;
    }
    .introdução h2 {
        font-size: 25px;
        margin-left: 0;
    }
}
/* Mobile */

@media (max-width: 768px) {
    .Intro {
        flex-direction: column-reverse;
        text-align: center;
    }
    .introdução h1 {
        font-size: 28px;
        margin-left: 0;
    }
    .introdução h2 {
        font-size: 17px;
        margin-left: 0;
    }

}

/* Mobile Pequeno */

@media (max-width: 480px) {
    .imagem-principal img {
        width: 280px;
    }
}



