/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url(Fundo-Projetos.png); /* coloque o nome da imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f4f6fb;
}

/* HEADER (igual às outras páginas) */
header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
}

.Navegação {
    width: 90%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #f4f6fb;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 2px;
    background: #f70e0e;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* MAIN */
main {
    min-height: 100vh;
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD */
.card{
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    padding: 60px;
    max-width: 700px;
    width: 90%;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
    animation: float 6s ease-in-out infinite;
    will-change: transform;

}

@keyframes float {
    0% {
        transform: translateY(0);
        box-shadow: 0 20px 40px rgba(0,0,0,0.6);
    }
    50% {
        transform: translateY(-14px);
        box-shadow: 0 35px 60px rgba(0,0,0,0.45);
    }
    100% {
        transform: translateY(0);
        box-shadow: 0 20px 40px rgba(0,0,0,0.6);
    }
}

/* TEXTO */
.card h2 {
    font-size: 54px;
    color: #f70e0e;
    margin-bottom: 20px;
}
.card p {
    font-size: 35px;
    line-height: 1.6;
    color: #cfcfcf;
}

/* DETALHE VISUAL */
.card span {
    display: inline-block;
    margin-top: 25px;
    font-size: 16px;
    letter-spacing: 2px;
    color: #999;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .card {
        padding: 30px 20px;
    }

    .card h2 {
        font-size: 32px;
    }

    .card p {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .card h2 {
        font-size: 42px;
    }

    .card p {
        font-size: 24px;
    }
}
